{% extends 'TwitterMainBundle:Default:inner.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>Поздравляем с успешной регистрацией!</p>
    <p>Перейти на <a href="{{ path('homepage') }}">главную страницу</a>.</p>
{% endblock%}
        
