{% extends 'TwitterMainBundle::base.html.twig' %}

{% block content %}
    <div class="form-signin">
        {{ include(
            'TwitterUserBundle:Security:login_mainpage.html.twig'
        ) }}
    </div>
{% endblock %}

