{% extends 'TwitterMainBundle::base.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        {% render url('fos_user_security_login') %}
        {% render url('fos_user_registration_register') %}
    {% endif %} 
{% endblock %}

